asgiref==3.3.4
autopep8==1.5.7
certifi==2021.5.30
Django==3.2.4
Pillow==8.2.0
pycodestyle==2.7.0
pyotp==2.6.0
pytz==2021.1
qrcode==6.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
uWSGI @ file:///Users/runner/miniforge3/conda-bld/uwsgi_1611006603902/work
