<!doctype html> {% load static %}
<html>

<head>
    <!-- <link rel="stylesheet" href="{% static 'styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'stylesLogin.css' %}">
    <meta charset="utf-8">
    <title>登入</title>
</head>

<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="formbg-outer">
                    <div class="formbg">
                        <div class="formbg-inner padding-horizontal--48">
                            <span class="padding-bottom--15">輸入你的帳號</span>
                            <form action='.' id="stripe-login" ,method="POST">
                                <div class="field padding-bottom--24">
                                    {{ login_form.as_table }}
                                </div>
                                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                                    <h2 class="loginmessage">{{ message }}</h2>
                                </div>
                                <div class="field padding-bottom--24">
                                    <input type='submit' value='登入'>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>