{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col">
    <h1>{{name}}, Welcome. This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus eveniet laudantium voluptatem labore, atque perferendis reiciendis quas ipsam a est assumenda eos distinctio molestiae nam itaque, cum voluptates eligendi.</p>
  </div>
  <div class="col">
    <h1>This is {{name}}'s first Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo maxime culpa, iure, minima ducimus magni non hic similique tempore impedit necessitatibus eum! Sunt adipisci porro aperiam fugit magnam delectus.</p>
  </div>
</div>
{% endblock %}