<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script>
        function LineAuth() {
            var URL = 'https://access.line.me/oauth2/v2.1/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=1656033789';
            URL += '&redirect_uri=http://localhost:8000';
            URL += '&state=abcde';
            URL += '&scope=openid%20profile';
            window.location.href = URL;
        }
    </script>
</head>
<body>
    <button onclick="LineAuth()">點選 Line Login</button>
</body>
</html>